.item-info {
    font-size: 13px;
}

.item-price {
    /* color: #5a482c; */
    /* color: #e35226; */
    color: #2E542F;
}

.item-image {
    object-fit: cover;
    object-position: 50% 70%;
    aspect-ratio: 7/8;
}